h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Petrona", serif;
    font-weight: 400 !important;
}

button,
a,
p {
    font-family: "Montserrat", serif !important;
}

.navbar {
    top: 0px;
    position: fixed;
    margin-bottom: 0px;
    background: #fff;
    border-bottom: 0px;
    padding: 5px 10px;
    width: 100%;

    .container {
        width: 100%;
        padding-right: 35px;
        padding-left: 35px;

        .navbar-header {
            margin-top: 10px;

            a {
                img {
                    width: 150px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }

            .navbar-toggle {
                border: none;

                .icon-bar {
                    background-color: #000000;
                }

                .material-symbols-outlined {
                    color: #000000;
                }
            }
        }

        .navbar-collapse {
            .navbar-nav {
                display: flex;
                justify-content: end;
                align-items: center;
                float: none;
                margin-top: 10px;
                margin-right: 0px;

                li {
                    a {
                        color: #000000;
                        font-weight: 500;
                        font-size: 16px;
                        text-transform: capitalize;
                    }
                }

                .active a {
                    color: #a6674a !important;
                    font-weight: 600 !important;
                    background-color: transparent;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .navbar {
        .container {
            .navbar-header {
                margin-top: 0px;

                .navbar-toggle {
                    margin-right: 0px;
                }
            }

            .navbar-collapse {
                border-color: black;

                .navbar-nav {
                    display: grid;
                    justify-content: start;
                    float: left;
                    padding: 20px;
                }
            }
        }
    }
}