<app-navbar></app-navbar>

<main *ngIf="currentPost" class="post-main-section">
    <section class="post-inner-section">
        <div class="post-heading">
            <h2>{{ currentPost.title }}</h2>
        </div>

        <div class="post-image">
            <img [src]="currentPost.image" [alt]="currentPost.title" />
        </div>

        <div class="post-content">
            <p>{{ currentPost.intro }}</p>

            <h2>{{ currentPost.subHeading }}</h2>

            <p>{{ currentPost.content }}</p>
        </div>
    </section>

    <section class="self-employed-taxes-section">
        <div class="content-box">
            <h2>Get help with your self-employed taxes</h2>
            <p>
                Collective handles the tax and accounting side of your business - so you have more time to focus on your passion.
                LLC formation, S Corp election. Bookkeeping, monthly financial reporting, and an average member tax savings of $10,000*.
            </p>
            <button class="cta-button">Get Started</button>
        </div>
    </section>
    
</main>
<app-footer></app-footer>