main {
    background-color: #fff;
    margin-top: 60px;

    button {
        font-weight: 600 !important;
        font-family: "Montserrat", serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Libre Baskerville", serif;
        font-weight: 400 !important;
    }

    p {
        font-family: "Montserrat", serif !important;
    }

    .left {
        width: 50%;
        padding: 5rem;
        margin: auto;

        .title {
            display: grid;
            gap: 20px;
            justify-content: center;
            text-align: center;

            h3 {
                font-weight: 400;
                line-height: 50px;
                letter-spacing: 0;
                padding-bottom: 2.5rem;
                font-size: 40px;
                color: #0C0C0F;
            }

            p {
                font-size: 16px;
                color: gray;
            }
        }

        form {
            display: grid;
            gap: 20px;

            div {
                display: grid;
                gap: 10px;

                label {
                    margin: 0;

                    small {
                        color: red;
                    }
                }

                input,
                textarea,
                select {
                    background-color: #f5f5f53b;
                    font-family: "Montserrat", serif !important;
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid #D0D5DD;
                    border-radius: 8px;
                    width: 100%;

                    &::placeholder {
                        color: #000;
                        font-size: 14px;
                        transition: color 0.3s ease;
                    }
                }

                textarea {
                    height: 20vh;
                }
            }

            button {
                width: 50%;
                border-radius: 30px;
                margin: auto;
                color: #F5F5FA;
                background-color: #ff8132;
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:enabled:hover {
                    background-color: #F5F5FA;
                    color: #fff;
                    border: 1px solid #ff8132;
                    transform: translateY(-5px);
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                }

                &:disabled {
                    background-color: rgb(254 164 107);
                }
            }

            .success {
                background-color: #56ae57 !important;
                border: 1px solid #56ae57 !important;
            }
        }
    }

}

@media only screen and (max-device-width: 480px) {
    main {

        .left {
            width: 100%;
            padding: 2rem;

            .title {

                h3 {
                    font-size: 32px;
                    line-height: 40px;
                    margin: 0;
                }
            }
        }
    }
}